body {
    font-size: 1.35rem;
    font-family: "Varela Round", sans-serif;
    color: rgb(48, 41, 141);
    background-color:  rgb(239, 244, 251);
    padding-left: 5%;
    padding-right: 5%;
}
header {
    background: #b3cafc;
    font-size: 1rem;
    width: 100%;
    top: 0;
    box-shadow: 10px 5px 5px rgba(10, 35, 97, 0.527);
    position: sticky;
}
img {
    margin: auto;
    border-radius: 25px;
    box-shadow: 10px 5px 15px rgba(2, 25, 57, 0.486);
}
.navbar ul {
    margin: 1.2rem;
    padding: 0px;
}
.navbar ul li{
    padding: 0px;
}
/*-- About Section --*/
.container-1 ul {
    padding: 10px;
    /* background: rgba(120, 163, 242, 0.189); */
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    list-style: none;
    text-decoration: none;
}
.item {
   	padding: 0.8rem;
	margin: 15px;	
	border-radius: 13px;
    /* background: #3db5da; */
    text-align: center;
}
.my-photo {
    height: 15vh;
}
h1 {
    color: rgb(72, 83, 159);
    font-size: 50px;
    font-weight: 750;  
    margin-left: 2rem; 
}
h2 {
    color: rgb(63, 105, 183);
    font-size: auto;
    padding-top: 1rem;
    margin: 0px;
    text-align: center;
}
nav li {
    margin: 0 0 0.5rem 2.2rem; 
    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: rgb(52, 85, 206);
}
nav a::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}

.container {
    border-radius: 0.5rem;
    box-shadow: 10px 5px 15px #163e8a80;  
    background-color: rgba(11, 97, 245, 0.12);
      text-align: justify;
}
ul.role {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1rem;
    flex-wrap: wrap;

}
.card {
    display: flex;
    
    max-width: 100%;
    margin: 0.5rem;
    padding: 0.3rem;
    height: 4.5rem;
    justify-content: space-between;    
}

#connect p a{
    color:rgb(28, 8, 116);
    text-decoration: none;
}
#experience li, #skills li, #connect p {
    border: 1px solid grey;
    padding: 10px; 
    list-style: none;
    border-radius: 12px;
} 
#experience ul,
#skills ul,
#connect p a {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    /* flex-direction: column;  */
}
#experience {
    flex-direction: column;
}
#skills ul{
    flex-direction: row;
}
/* #connect p { */
    .container-1.connect {
    width: 15rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    gap: 30px;
}
#experience li:hover,
#skills li:hover,
#connect p:hover,
.connect a:hover {
    list-style: none;
    background-color: rgba(70, 154, 223, 0.276);
    color: rgb(2, 23, 82);
}
#skills li {
    width: 8rem;
    margin-top: 20px;
    text-align: center;
}
#leave_message label {
    font-size: medium;
}
.form {
    max-width: 250px;
    margin: 20px;   
}
.leave_message button,
.messages ul li button {
    background-color: rgb(57, 82, 160);
    color: white;
    width: 120px;
    padding: 5px 25px;
    margin-bottom: 4px;
    font-size: medium;
}
.leave_message button:hover,
.messages ul li button:hover {
    background-color: rgba(70, 154, 223, 0.652);
    color: rgb(3, 34, 65);
    padding: 5px 25px;
    /* margin-bottom: 10px; */
    font-size: medium;
    cursor: pointer;
}
input,
textarea {
    width: 85%;
    font-size: 1rem;
    padding: 5px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* font-family: Verdana, sans-serif; */
}
footer {
    background-color: rgb(213, 223, 248);
    padding: 20px 20px;
    text-align: left;
    font-size: normal;
    font-weight: 500;
}

/* @media screen and (min-width: 481px) and (max-width: 1024px) {
    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    nav { 
        margin: auto;
        float: right; 
        text-size-adjust: auto; 
        text-justify: auto;     
    }
    nav ul {
        display: inline-flex;
        flex-direction: row;
        margin: 1rem;
        
        border: 1px dashed red;
    }
    nav li {
        display: flex;
        flex-wrap: wrap;
    }
}  */

/* @media screen and (min-width: 1025px) {
    main {
        margin-left: 10rem;
        margin-right: 10rem;
    } 
    header {
        margin-top: 0; 
        margin-bottom: 1rem;
        padding-bottom: 0.75rem;
        /* font-weight: 550; */
    /* }
    img {
        margin-top: 1rem;
        margin-left: 9rem;
        height: 10vh;
        padding: 10px;
    }
    nav { 
        margin: 0.5rem;
        float: right; 
        text-size-adjust: auto;  */
        /* text-justify: auto;      */
        /* }
    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0.75rem; */
        /* justify-content: space-between; */
    /* }
    nav li {
        margin-top: 1.2rem;
        float: left;
        display: inline-flex;
        flex-direction: row;
        font-family: Verdana, sans-serif;
        font-size: normal;
        font-weight: 500; */
        /* flex-wrap: wrap; */
        
        /* margin: 0 0 0.3rem 1.5rem;  */
        
    
        /* padding-top: 1rem; 
        
        position: relative;
    }
    h1 {
            margin-left: 10rem;
        }
    .container {
        width: 80%;
        margin:  2rem;
        padding: 2rem;
        font-family: Arial, sans-serif;
        font-size: 1.5rem;
    }
} */