
/* .flex-container {
    background: white;
    padding: 16px;
    border:4px groove rgb(6, 55, 79);
    border-radius: 10pt;
    gap: 8px;
    display: flex;
}

.flex-container div {
    background: rgb(170, 45, 45);
    border-radius: 10pt;
    padding: 16px;
    border: 4px groove rgb(197, 196, 194);
    height: 10px;
    flex: 1;
 
} */


body {
    background-color: rgb(209, 62, 62);
    /* color: rgb(4, 4, 68); */
    font-family: delicious handrawn;
    padding-top: 65px;
} 
 


img {
    border: 4px groove rgb(6, 55, 79);
    border-radius: 20px;
    margin:10px;
    padding: 0px;
    height:10px;
}

section {
    color: rgb(4, 4, 68);
    padding: 15px;
    /* border: 1px groove white; */
    margin: 30px;
    border-radius: 20pt;
    max-width: 100%;
}

h1 {
font-size: 20pt;
font-weight: 700;
color:rgb(4, 4, 68);
}

h2 {
    font-size: 22pt;
    font-weight: 700;
    color:rgb(4, 4, 68);
    }
    .nav-list {
        background-color: rgb(238, 216, 173);
        position:fixed;
        top:0;
        left:0;
        width:100%;
        padding: 10px;
        border:4px groove rgb(6, 55, 79);
        display: flex;
        margin: 0;
        justify-content: space-around;
    }
    .nav-item {
        display:inline;
        padding: 10px;  
    }
    .navbar-light .navbar-nav .nav-link{
        color: rgb(4, 4, 68);

    }
    
    #connect li {
        padding: 5pt;
        margin: 5pt;
        border-radius: 10pt;
        max-width: fit-content;
        background-color: rgb(238, 216, 173);
    }
    #connect {
        max-width: 75%;
    }
    
    #connect ul {
        color: rgb(4, 4, 68);

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

.experience li {
    /* border: 3pt groove rgb(6, 55, 79);  */
    color: rgb(4, 4, 68);
    padding: 5pt;
    margin: 5pt;
    border-radius: 10pt;
    max-width: fit-content;
    background-color: rgb(238, 216, 173);
}
#experience {
    max-width: 60%;
}

#experience ul {

    color: rgb(4, 4, 68);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


#skills li {
    /* border: 3pt groove rgb(6, 55, 79);  */
    padding: 5pt;
    margin: 5pt;
    max-width: fit-content;
    border-radius: 10pt;
    background-color: rgb(238, 216, 173);
    text-align: center;
}
#skills {
    max-width: 75%;
}

#skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


label {
    font-size: 22pt;
    color: rgb(4, 4, 68);
    background-color: rgb(238, 216, 173);
    /* border: 3pt groove rgb(6,55,79); */
    border-radius: 10pt;
    margin:5pt;
    max-width: fit-content;
    padding: 5pt;
    text-align: center;
   
}
input {
    font-size: 22pt;
    /* border: 3pt groove rgb(6, 55, 79);  */
    padding: 5pt;
    margin: 5pt;
    border-radius: 10pt;
    background-color: rgb(238, 216, 173);
}
::placeholder {
    color: rgb(4, 4, 68);
    font-family: delicious handrawn;

}
textarea {
    font-size: 22pt;
    /* border: 3pt groove rgb(6, 55, 79);  */
    padding: 5pt;
    margin: 5pt;
    border-radius: 10pt;
    background-color: rgb(238, 216, 173);
}


button {font-size: 22pt;
    /* border: 5pt groove rgb(6, 55, 79);  */
    padding: 10pt;
    margin: 15pt;
    color: rgb(4, 4, 68);
    border-radius: 10pt;
    background-color: rgb(238, 216, 173);
    font-family: delicious handrawn;
}

button:hover {
    background-color: rgb(74, 208, 245);
    /* color:rgb(6, 55, 79); */
}
#messages  {
    /* border: 3pt groove rgb(6, 55, 79);  */
    padding: 5pt;
    margin: 5pt;
    max-width: fit-content;
    background-color: rgb(238, 216, 173);
    text-align: center;

}

#leave_message {
    color:rgb(4, 4, 68);
    display: grid;
    grid-template-columns: 1fr  2fr  1fr;
    gap: 20pt;
    margin: 10pt;
    padding: 20pt; 
}

.message-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#messages li{
    display:inline;
    margin: 10pt;
}


footer {
    /* background-color: rgb(197, 196, 194);
    border: 3pt groove rgb(6, 55, 79); 
    font-family:fantasy;
    font-weight: 100;
    font-size: 12pt;
    padding: 10px; 
    text-align:center;
    width:100%;  */

    /* background: rgb(197, 196, 194);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px;
    border:4px groove rgb(6, 55, 79);
    display: flex;
    margin: 0;
    justify-content: space-around; */

    background-color: rgb(238, 216, 173);
    bottom:0;
    left:0;
    width:100%;
    border:4px groove rgb(6, 55, 79);
    display: flex;
    justify-content: space-around;
    /* padding: 1pt; */
}
@media screen and (max-width: 900px) {

    body {
        font-size: large;   
    }
 }
@media screen and (max-width: 600px) {
   .nav-list {
        background-color: rgb(102, 104, 239);
    }
    #experience li {
        background-color: rgb(102, 104, 239);
    }
    #skills li {
        background-color: rgb(102, 104, 239);
    }
    #connect li {
        background-color: rgb(102, 104, 239);
    }
    #image {
        background-color: rgb(102, 104, 239);
    }
    input {
        background-color: rgb(102, 104, 239);
    }
    textarea {
        background-color: rgb(102, 104, 239);
    } 
    label {
        background-color: rgb(102, 104, 239);
    } 
    button {
        background-color: rgb(102, 104, 239);
    }
    #messages {
        background-color: rgb(102, 104, 239);
    }
    footer {
        background-color: rgb(102, 104, 239);
    }
   
}
@media screen and (max-width: 400px) {
        body {
             background-color: rgb(219, 244, 33);
         }
    
}