body {
  background-color: rgb(231, 175, 153);
  color:rgb(80, 25, 4);
  font-family: 'Poppins';
  font-size: 40px;
}

section {
  margin: 5px;
  padding: 2px;
}

h1 {
  font-size: 4rem;
  font-family: 'Poppins';
  font-weight: bold
}

h2 {
  font-family: 'Poppins';
  font-weight: bold;
}

.experience  li{
text-align: center;
border: 5px solid bisque;
border-radius: 10px;
margin-top: 10px;
padding: 5px;
background-color: lemonchiffon;
list-style-type: none;
border-radius: 500px;
max-width: fit-content;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

#skills li {
  text-align: center;
  border: 1px dashed brown;
  margin: 20px 0;
  padding: 20px;
  list-style-type: none;
  border-radius: 500px;
  max-width: fit-content;
}
#skills li:hover {
  background-color: white;
  color:aqua;
  cursor: pointer;
}


label {
  background-color: blanchedalmond;
  color: darkgoldenrod;
}

input:focus {
  border: none;
  
}

.button {
  padding: 25px;
  margin-top: 10px;
  background-color: rgb(126, 24, 24);
  color: rgb(211, 148, 188);
  font-size: 2rem;
}

button:hover {
  background-color: rgb(226, 55, 183);
  color: yellow;
}

footer {
  background-color: rgb(111, 64, 114);
  color: white;
  margin-top: 20px;
  padding: 20px;
}

img {
  border: 5px sold powderblue;
  border-style: inset;
  border-radius: full;
  box-shadow: 10px 5px gray;
}

a {
  text-decoration: none;
}

.nava{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: sticky ;
  margin-top: 30px;
}

.nav-item {
  font-family: 'Poppins';
    list-style-type: none;
}

.message-list {
  display: flex;
  justify-content: space-between;
  
}

@media all and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  .nava {
    justify-content: flex-start;
    
  }
  .nav-item {
    padding: 10px;
    font-size: 20px;
  }
  h1 {
    margin-left: 10px;
    font-size: 35px;
  }

  #skills li {
    padding: 5px;
    
  }

  #skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 500px) {
  .nav-item {
    padding: 5px;
    font-size: 10px;
  }
}

