/*index.css*/


p{
    color: brown;
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: greenyellow;
    background-color: darkgoldenrod;
    font: 600;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
    background-color: beige;
    border: 2px rgb(37, 28, 22);
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: firebrick;
    font: 600;
    font-size: large;
    font-family: cursive;
}
footer {
    background-color: rgb(194, 205, 92);
    border: 2px;
    padding: 2.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    background-color: gold;
    width: 300px;
    border: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
    border: 2px solid rebeccapurple;
    padding: .5em; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#skills  {
  max-width: 75%;
}
#skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 ul {
    display: flex;
    flex-direction: wrap;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .block {
    display: block;
  }      
  form {
    display: block;
    list-style: none;
  }
  img {
    width: 250px;
    height: 330px;
    border: 3px;
    padding: 6px;
    float: unset;
  }
  button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.25rem;
    font-size: medium;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
  }
  label{
    background-color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border: 0dvb;
    block-size: auto;
  }
 label{
    display: block;
}
textarea{
    border: 6px;
    margin: 6px;
    padding: 8px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#connect ul
{
  background-color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border: 0dvb;
    block-size: auto;
}
 @media (max-width: 768px) {
  nav ul {
    flex-direction: repeat;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}